@model IEnumerable<WirenetApp.User>

@{
    ViewBag.Title = "AdminViewUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="color:black">AdminViewUser</h2>

<p>

</p>
<table class="table" style="color:black">
    <tr>

        <th style="background-color:white">
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th style="background-color:white">
            @Html.DisplayNameFor(model => model.Phoneno)
        </th>
        <th style="background-color:white">
            @Html.DisplayNameFor(model => model.Emailid)
        </th>
        <th style="background-color:white">
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phoneno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emailid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <div style="background-color:black">
                    @Html.ActionLink("Delete", "AdminDeleteUser", new { uid = item.Uid })
                </div>

            </td>
        </tr>
    }

</table>
@Html.ActionLink("Back to AdminPage", "Index", new { /* id=item.PrimaryKey */ })
