@model IEnumerable<WirenetApp.UserService>

@{
    Layout = null;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminViewUserService</title>
</head>
<body>
    <p>
  
    </p>
    <table class="table" style="color:black">
        <tr>
           
            <th style="background-color:white">
                @Html.DisplayNameFor(model => model.timing)
            </th>
            <th style="background-color:white">
               <p>No of User Booked</p>
            </th>
            <th style="background-color:white">
                <p>Booking Date</p>
            </th>
            <th style="background-color:white">
                @Html.DisplayNameFor(model => model.BookingStatus)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.timing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usid)
            </td>
            <td>
               @* @Html.(modelItem => item.datevalue.ToString)*@
                @item.datevalue
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingStatus)
            </td>
            <td>
                <div style="background-color:black">
                    @Html.ActionLink("Delete", "AdminDeleteUserService", new { Sid = item.sid })
                </div>
               
            </td>
        </tr>
    }
    
    </table>
    <div>
        @Html.ActionLink("Back to AdminPage", "Index", new { /* id=item.PrimaryKey */ })
    </div>
</body>
</html>
