<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style >
        header {
            background-color:darkslateblue;
            padding: 7px 0;
            text-align: center;
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }

            header h3 {
                color: white;
                border: 8px solid white;
                display: inline-block;
                padding: 6px 12px;
                border-radius: 20px;
            }
    </style>
</head>
<body>
    <link rel="stylesheet" href="~/Content/Homeindex.css" />
    <div class="navbar">
        <a href="@Url.Action("Login", "Login", "Login")">Login</a>
        <a href="@Url.Action("Register","Register","UserRegistration")">UserRegistration</a>
        <a href="@Url.Action("RegisterUser", "RegisterUser","ElectricianRegistration")">Electrician</a>
</div>
    @*<header> <h3>WIRENET</h3></header>*@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>-->
                @*@Html.ActionLink("WIRENET", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                @Html.ActionLink("Login", "Login", "Login")


            </div>
            @*<div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Login", "Login", "Login")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>*@
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Wirenet Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
