@model IEnumerable<WirenetApp.ServiceProvider>

@{
    ViewBag.Title = "ViewServiceProvider";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<h2>ViewServiceProvider</h2>
@*<link rel="stylesheet" href="~/Content/ViewServiceProvider.css" />
    <p>

    </p>
    <div class="container">
        <b>Search By:</b>
        <select id="SearchBy">
            <option value="Specialization">Specialization</option>
            <option value="ID">ID</option>
        </select><br /><br />
        @Html.TextBox("Search")<input type="submit" id="SearchBtn" value="Search" /><br />  <br />
    </div>
    <table class="table" style="color:chocolate">
        <tr>

            <th class="font">
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th class="font">
                @Html.DisplayNameFor(model => model.Phoneno)
            </th>
            <th class="font">
                @Html.DisplayNameFor(model => model.Emailid)
            </th>
            <th class="font">
                @Html.DisplayNameFor(model => model.Specialization)
            </th>
            <th class="font">
                @Html.DisplayNameFor(model => model.ElectricianID)
            </th>
            <th class="font">
                @Html.DisplayNameFor(model => model.experience)
            </th>
            <th class="font">
                @Html.DisplayNameFor(model => model.rangeperhour)
            </th>

            <th></th>
        </tr>
        <tbody id="DataSearching">
            @foreach (var item in Model)
            {
                <tr>

                    <td class="font">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td class="font">
                        @Html.DisplayFor(modelItem => item.Phoneno)
                    </td>
                    <td class="font">
                        @Html.DisplayFor(modelItem => item.Emailid)
                    </td>
                    <td class="font">
                        @Html.DisplayFor(modelItem => item.Specialization)
                    </td>
                    <td class="font">
                        @Html.DisplayFor(modelItem => item.ElectricianID)
                    </td>
                    <td class="font">
                        @Html.DisplayFor(modelItem => item.experience)
                    </td>
                    <td class="font">
                        @Html.DisplayFor(modelItem => item.rangeperhour)
                    </td>

                    <td class="font">

                        @Html.ActionLink("Booking Status", "ViewBookingStatus", "ViewBookingStatus", new { id = item.Sid }, null) |
                        @Html.ActionLink("Book", "UserService", "UserService", new { Sid = item.Sid, Uid = Convert.ToInt32(@TempData.Peek("UserId")) }, null) |
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#SearchBtn").click(function () {
                var SearchBy = $("#SearchBy").val();
                var SearchValue = $("#Search").val();
                var SetData = $("#DataSearching");
                setData.html("");
                $.ajax({
                    type: "post",
                    url: "/ServiceProviderDetails/GetSearchingData?SearchBy=" + SearchBy + "&SearchValue=" + SearchValue,
                    contentType: "html",
                    success: function (result) {
                        if (result.length == 0) {

                            SetData.append('<tr style="color:red"><td colspan="3">No match Data</td></tr>')
                        }
                        else {
                            $.each(result, function (index, value) {
                                var Data = "<tr>" +
                                    " <td >" + value.FullName + "</td>" +
                                    " <td>" + value.Phoneno + "</td>" +
                                    " <td>" + value.Emailid + "</td" +
                                    "<td >" + value.Specialization + "</td>" +
                                    "<td >" + value.ElectricianID + "</td>" +
                                    "<td >" + value.experience + "</td>" +
                                    "<td>" + value.rangeperhour + "</td>" +
                                    "</tr>";
                                SetData.append(Data);


                            });
                        }

                    }
                });

            });
        });
    </script>*@
<input type="text" id="txtsearch" placeholder="Enter the Specilization" />


<table class="table" style="color:chocolate">
    <tr>

        <th class="font" style="background-color:black">Full Name </th>
        <th class="font" style="background-color:black">Phone number</th>
        <th class="font" style="background-color:black">EmailID</th>
        <th class="font" style="background-color:black">Specialization</th>
        <th class="font"style="background-color:black">ElectricianLicenseID</th>
        <th class="font" style="background-color:black">Experience</th>
        <th class="font" style="background-color:black">Costperhour</th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td class="font">
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td class="font">
                @Html.DisplayFor(modelItem => item.Phoneno)
            </td>
            <td class="font">
                @Html.DisplayFor(modelItem => item.Emailid)
            </td>
            <td class="font">
                @Html.DisplayFor(modelItem => item.Specialization)
            </td>
            <td class="font">
                @Html.DisplayFor(modelItem => item.ElectricianID)
            </td>
            <td class="font">
                @Html.DisplayFor(modelItem => item.experience)
            </td>
            <td class="font">
                @Html.DisplayFor(modelItem => item.rangeperhour)
            </td>

            <td class="font">

                @*@Html.ActionLink("Booking Status", "ViewBookingStatus", "ViewBookingStatus", new { id = item.Sid }, null) |
                @Html.ActionLink("Book", "UserService", "UserService", new { Sid = item.Sid, Uid = Convert.ToInt32(@TempData.Peek("UserId")) }, null) |*@
                <button id="my-button" onclick="location.href='@Url.Action( "ViewBookingStatus", "ViewBookingStatus", new { id = item.Sid }, null)'">Booking Status</button>
                <button id="my-button" onclick="location.href='@Url.Action( "UserService", "UserService", new { Sid = item.Sid, Uid = Convert.ToInt32(@TempData.Peek("UserId")) }, null)'">Book</button>
            </td>
        </tr>
    }
    </table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#txtsearch").on("keyup", function () {
        var txtenter = $(this).val();
        $("table tr").each(function (results) {
            if (results !== 0)
            {
                var id = $(this).find("td:nth-child(4)").text();
                if (id.indexOf(txtenter) !== 0 && id.toLowerCase().indexOf(txtenter.toLowerCase()) < 0) {
                    $(this).hide();
                }
                else
                {
                    $(this).show();
                }
            }

        });

    });
</script>
<div style="font-size:larger">
    <b>
        @Html.ActionLink("Logout", "Logout", "Login")
    </b>
</div>
