@model WirenetApp.LoginI

@{
    //ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2 style="align-content:center"></h2>

<link rel="stylesheet" href="~/Content/Login.css" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @*<h3 align="center">Login</h3>*@

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="form-horizontal">
                <img src="~/Content/logo.jpg" alt="Avatar" class="avatar">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </div>
                </div>
            </div>

        </div>
        <div class="col-4"></div>
    </div>
}

<div style="color:red">@ViewBag.Msg</div>
<div style="color:red">@ViewBag.Msg1</div>



<div>
    @Html.ActionLink("Registration for Service Provider", "Register", "Register")
</div>
<div>
    @Html.ActionLink("Registration for User", "RegisterUser", "RegisterUser")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
